<div class="d-flex  flex-column  flex-md-row align-items-center  border-bottom fixed-top" style="background-color: white;">

  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 50px;" [routerLink]="['/']">
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase">
    <a class="me-3 py-2"
      [routerLink]="['/']"
      routerLinkActive="active">Home
    </a>
    <a class="me-3 py-2"
      [routerLink]="['/shop']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Shop
    </a>
    <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket"  class="position-relative">
      <i class="fa fa-shopping-cart fa-2x m-5 text-dark"></i>
      <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
    </a>

    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary m-1">Login</a>
      <a routerLink="/account/register" class="btn btn-outline-secondary m-1">Register</a>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown ms-3 me-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart me-3"></i> View Basket
          </a>

          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history me-3"></i> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-3"></i> Logout
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
