<div class="d-flex  flex-column  flex-md-row align-items-center  border-bottom fixed-top" style="background-color: white;">

  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 50px;" [routerLink]="['/']">
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase">
    <a class="me-3 py-2"
      [routerLink]="['/']"
      routerLinkActive="active">Home
    </a>
    <a class="me-3 py-2"
      [routerLink]="['/shop']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Shop
    </a>
    <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x m-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary m-1">Login</a>
    <a class="btn btn-outline-secondary m-1">Sign Up</a>
  </div>
</div>
